<main role="main" class="bg-light">
<%= render "layouts/lead", title: 'Une famille biennoise ', sub_title: "La famille Mikayelyan-Safaryan ", link_to_petition: "true" %>

<div class="bg-light">
  <div class="container text-justify">
    <%= render 'pages/show', page: Page.find(1) %>
    <p>Si vous partagez cet avis </p>
    <ul>
    	<ul>
    		<li/>
    <p lang="en">
      <%= link_to "signez la lettre ouverte ", open_letter_path %>
    </p>
    		<li/>
    <p><%= link_to "exprimez votre solidarité sur le tableau d'affichage", open_letter_path %>
      </p>
    		<li/>
    <p>écrivez votre propre lettre au Conseil municipal de Bienne </p>
    		<li/>
    <p lang="en">
      <%= link_to "faites un don pour la famille ", donate_path %>
      </p>
    	</ul>
    </ul>
  </div>
</div>

</main>
<hr />
