<main role="main" class="bg-light">
<%= render "layouts/lead", title: 'Eine Bieler Familie', sub_title: "Die Familie Mikayelyan-Safaryan", link_to_petition: "true" %>

<div class="bg-light">

  <div class="container text-justify">
    <%= render 'pages/show', page: Page.find(1) %>

    <p>Wenn Sie auch dieser
    Meinung sind</p>
    <ul>
    	<ul>
    		<li/>
    <p lang="en">
      <%= link_to "unterschreiben Sie den offenen Brief", open_letter_path %>
    </p>
    		<li/>
    <p><%= link_to "bekunden Sie Ihre Solidarität auf der Pinnwand", open_letter_path %>
      </p>
    		<li/>
    <p>schreiben Sie
    		dem Gesamt-Gemeinderat der Stadt Biel Ihren eigenen Brief</p>
    		<li/>
    <p lang="en">
      <%= link_to "spenden Sie für die Familie", donate_path %>
      </p>
    	</ul>
    </ul>
  </div>
</div>

</main>
<hr />
