<%= simple_form_for(signature, url: add_signature_path, method: :post, remote:true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :firstname, required: false %>
    <%= f.input :lastname, required: false %>
    <%= f.input :i_want_to_be_kept_up_to_date %>
    <div class="email_field <%= 'hidden' if signature.i_want_to_be_kept_up_to_date.nil? || signature.i_want_to_be_kept_up_to_date == false  %>">
      <%= f.input :email %>
    </div>

    <hr>
    <p>
        <strong>
          Kommentar und Bild für die <%= link_to "Pinwand", pin_board_path, target: "_blank" %> (optional)
        </strong>
    </p>

    <%= f.input :comment %>
    <%= f.input :picture %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Unterschrift einreichen", class: "btn btn-light" %>
  </div>
<% end %>

<script>
  $( document ).ready(function() {
    $("#signature_i_want_to_be_kept_up_to_date").change(function(){
      $(".email_field").toggle();
    });
  });
</script>
