<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><%= Signature.all.count %> <%= Signature.model_name.human(count: 2) %></th>
        <th scope="col">Duplikat vorhanden</th>
        <th scope="col">e-mail</th>
        <th scope="col">Bearbeiten</th>
        <th scope="col">Löschen</th>
      </tr>
    </thead>
    <tbody>
      <% Signature.all.order("firstname ASC,lastname ASC").each do |signature| %>
      <tr>
        <td>
          <%= "#{signature.firstname}  #{signature.lastname}" %>
        </td>
        <td>
          <% if Signature.where(firstname: signature.firstname).count > 1 && Signature.where(lastname: signature.lastname).count > 1   %>
          x
          <% end %>
        </td>
        <td>
          <%= signature.email %>
        </td>

        <td>
          <% if user_signed_in? %>
            <%= link_to 'Bearbeiten', edit_signature_path(signature) %>
          <% end %>
        </td>
        <td>
          <% if user_signed_in? %>
            <%= link_to 'Löschen', signature_path(signature), method: :delete, data: {confirm: 'Bist du sicher?'} %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<hr />
  <p>
    <% emails = Signature.all.pluck(:email).uniq %>
    <% emails.each do |email| %>
      <%= email %> <br />
    <% end %>
  </p>
</div>
