<header>
<div class="collapse bg-dark" id="navbarHeader">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-7 py-4">
      <h4 class="text-white">Links</h4>
      <%= link_to "Eine Bieler Familie", biel_path, class: "text-white" %>
      <br />
      <%= link_to "Presseschau", press_review_path, class: "text-white" %>
      <br />
      <%= link_to "Vorbild Langenbruck", langbruck_path, class: "text-white" %>
      <br />
      <%= link_to "Asylverfahren","https://www.alle-menschen.ch/?page_id=202", class: "text-white" %>
      <br />
      <%= link_to "Nothilfe", "https://www.ag-nothilfe.ch/was-ist-nothilfe", class: "text-white" %>
      <br />
      <%= link_to "Kinderrechte", children_right_path, class: "text-white" %>

    </div>
    <div class="col-sm-4 offset-md-0 py-4">
      <h4 class="text-white">Über uns</h4>
      <p>
        <%= link_to 'Arbeitsgruppe "Sie bleiben hier!', about_path, class: "text-white" %>
        <br />
        <%= link_to "Petition", open_letter_path, class: "text-white" %>
        <br />
        <%= link_to "Unterstützen", pin_board_path, class: "text-white" %>
        <br />
        <%= link_to "Pinnwand", pin_board_path, class: "text-white" %>
        <br />
        <%= link_to "Spenden", donate_path, class: "text-white" %>
        <br />
        <%= mail_to "philipp.blum@philosophie.ch", "e-Mail", class: "text-white"   %>
      </p>
    </div>
  </div>
</div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container d-flex justify-content-between">
    <%= link_to root_path, class: "navbar-brand" do %>
        Sie bleiben hier!
    <% end %>
    <%= link_to "FR", root_path(locale: "fr"), class:"nav-link" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
</header>
